/*
 * Unified colors used throughout the application
 *
 */

$black-color: #363636;
$dark-grey-color: #7a7a7a;
$grey-color: #8f99a3;
$light-grey-color: #dbdbdb;
$blue-color: #3273dc;
$dark-blue-color: #326ed0;
$red-color: #ff3860;
$yellow-color: #ffba41;
$green-color: #22c65b
